.radio-option {
  background-color: #21c2b3;
  outline-color: none;
  border: none;
  margin-right: 3px;
  padding-top: 2px;
  border-radius: 5px !important;
  box-shadow: none !important;
}

.radio-option:not(:disabled):not(.disabled).active,
.radio-option:hover,
.radio-button:active {
  background-color: #198d81 !important;
  box-shadow: none !important;
}

#submit-button {
  margin-top: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  background-color: #198d81 !important;
}

/* #arcade-start {
  margin-bottom: 20px !important;
  background-color: #198d81 !important;
} */

#button-style {
  color: black;
  background-color: #198d81;
  outline-color: none;
  border: none;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: none !important;
}
#playgame-button {
  display: flex;
  justify-content: center;
}