#ranking {
  height: 300px;
  padding: 1.2em 1em;
  overflow-y: scroll;
  width: 80%;
  margin: auto;
  background-color: rgba(33, 194, 178, 0.315);
}

#player-score {
  background-color: rgba(33, 194, 178, 0.315);
  padding-top: 1.1em;
  padding-bottom: 1em;
  width: 80%;
  margin: auto;
}

#final-score {
  font-size: "42px";
  padding-top: 20;
  padding-bottom: 20;
  display: "block";
  margin-left: 0;
  margin-right: 20;
}